.login-container {
    display: flex;
    background-color:rgba(54, 54, 54, 0.695);
    width: 850px;
    border-radius: 5%;
}

body {
  margin: 0;
  padding: 0;

  background-image: url("backgrou.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Segoe UI", sans-serif;
 
}

.back {
 
    padding-right: 250px;
    color: rgb(242, 246, 248);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.login-title{
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, rgb(224, 239, 245), rgb(212, 238, 254));
    
}

h2{
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(to right, rgb(224, 239, 245), rgb(212, 238, 254));
    
    
    margin: 0;
}


.login-form {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9%;
}

.login-links {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    width: fit-content; 
    padding: 8px 10px; 
    margin-top: 8%;
    background-color: white;
    border-radius: 25px; 

   

}

.login-link {
    border: none;
    font-size: 0.95rem;
    cursor: pointer;
    padding: 6px 12px;
    color:rgb(167, 196, 207);
    
}


.login-input {
    margin-top: 10%;
    width: 285px;
    height: 40px;
    border: none;
}

.login-button {
    margin-top: 10%;
}

.login-info2 {
    padding: 5%;
    padding-top: 15%;
    width: 500px;
   
}

.login-info2 img{
    width: 80%;
    height: 80%;
    border-radius: 100%;
    border-color: white;
    
}

.login-button{
    color:rgb(167, 196, 207);
}

